include MANIFEST.in
include LICENCE.txt
include README.rst

recursive-include atoum/templates *
recursive-include atoum/static *
recursive-include atoum/locale *

recursive-exclude tests *
recursive-exclude sandbox *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
