{% extends "atoum/base.html" %}
{% load i18n %}
{% block header-title %}{{ consumable_object.title }} - {{ block.super }}{% endblock header-title %}

{% block title-content %}{% spaceless %}
    <p class="mb-0">
        <small class="text-body-secondary"><i class="bi bi-boxes"></i> {% translate "Consumable" %}&nbsp;:</small>
    </p>

    <h1>{{ consumable_object.title }}</h1>
{% endspaceless %}{% endblock title-content %}

{% block page-submenu %}
    <div class="page-submenu">
        {% if request.user.is_staff %}
            <div class="manage-object dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-gear"></i> {% translate "Manage" %}
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url "admin:atoum_consumable_change" object_id=consumable_object.id %}"
                            class="dropdown-item">
                            <small class="me-3"><i class="bi bi-pencil text-primary"></i> {% translate "Change" %}</small>
                        </a>
                    </li>
                    <li>
                        <a href="{% url "admin:atoum_consumable_delete" object_id=consumable_object.id %}"
                            class="dropdown-item">
                            <small class="me-3"><i class="bi bi-trash3 text-danger"></i> {% translate "Delete" %}</small>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a href="{% url "admin:atoum_assortment_add" %}?consumable={{ consumable_object.id }}"
                            class="dropdown-item">
                            <small class="me-3"><i class="bi bi-plus-lg text-success"></i> {% translate "Add a new Assortment" %}</small>
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock page-submenu %}

{% block app_content %}{% spaceless %}
    <div class="consumable-detail mt-3">
        <div class="consumable-assortments">
            <h3 class="h4 mb-4">
                <i class="bi bi-stack"></i>
                {% translate "Assortments" %}
            </h3>

            <div class="assortments cartouches">
                {% for assortment in object_list %}
                    <a class="item item--assortment" href="{{ assortment.get_absolute_url }}">
                        <div class="cover"></div>
                        <div class="body">
                            <span class="title">{{ assortment.title }}</span>
                        </div>
                    </a>
                {% empty %}
                    <div class="empty">
                        <p><em>{% translate "No assortment yet." %}</em></p>
                    </div>
                {% endfor %}
            </div>

            {% include "atoum/pagination.html" %}
        </div>
    </div>
{% endspaceless %}{% endblock app_content %}
