{% extends "atoum/base.html" %}
{% load i18n %}
{% block header-title %}{% translate "Consumables" %} - {{ block.super }}{% endblock header-title %}

{% block title-content %}{% spaceless %}
    <h1>
        <i class="bi bi-boxes"></i>
        {% translate "Consumables" %}
    </h1>
{% endspaceless %}{% endblock title-content %}

{% block app_content %}{% spaceless %}
    <div class="consumable-index mt-3">
        <div class="consumables cartouches">
            {% for consumable in object_list %}
                <a class="item item--consumable" href="{{ consumable.get_absolute_url }}">
                    <div class="cover"></div>
                    <div class="body">
                        <span class="title">{{ consumable.title }}</span>
                    </div>
                </a>
            {% empty %}
                <div class="empty">
                    <p><em>{% translate "No consumable yet." %}</em></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endspaceless %}{% endblock app_content %}
