{% load i18n %}
{% spaceless %}
    {% if opened_shoppinglist %}
        <form id="form_shopping-product-{{ product.id }}"
                class="input-group input-group-sm"
                hx-post="{% url "atoum:shopping-list-product" pk=opened_shoppinglist.obj.id product_id=product.id %}"
                hx-target="this"
                hx-swap="outerHTML">
            <input id="id_shopping-product-{{ product.id }}_quantity"
                    class="form-control"
                    name="quantity"
                    type="number"
                    min="1"
                    autocomplete="off"
                    value="{% if product_shopping_item %}{{ product_shopping_item.quantity }}{% else %}1{% endif %}"
                    style="width: 80px">

            <button id="btn_shopping-product-{{ product.id }}-post"
                    class="btn btn-outline-success" type="submit">
                {% if is_product_selected %}
                    <i class="bi bi-pencil"></i>
                {% else %}
                    <i class="bi bi-plus-lg"></i>
                {% endif %}
                <span class="visually-hidden">{% translate "Add to shopping list" %}</span>
            </button>

            {% if is_product_selected %}
                <button id="btn_shopping-product-{{ product.id }}-delete"
                        class="btn btn-sm btn-outline-danger" type="button"
                        hx-delete="{% url "atoum:shopping-list-product" pk=opened_shoppinglist.obj.id product_id=product.id %}"
                        hx-trigger="click" hx-target="#form_shopping-product-{{ product.id }}">
                    <i class="bi bi-trash3"></i>
                    <span class="visually-hidden">{% translate "Remove from shopping list" %}</span>
                </button>
            {% endif %}
        </form>
    {% endif %}
{% endspaceless %}