{% extends "atoum/base.html" %}
{% load i18n smart_image %}
{% block header-title %}{{ shopping_object }} - {{ block.super }}{% endblock header-title %}

{% block title-content %}{% spaceless %}
    <p class="mb-0">
        <small class="text-body-secondary"><i class="bi bi-cart4"></i> {% translate "Shopping lists" %}</small>
    </p>

    <h1>
        {{ shopping_object }}
    </h1>
{% endspaceless %}{% endblock title-content %}

{% block page-submenu %}
<div class="page-submenu">
    {% if request.user.is_staff %}
        <div class="manage-object dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear"></i> {% translate "Manage" %}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url "admin:atoum_shopping_change" object_id=shopping_object.id %}"
                        class="dropdown-item">
                        <small class="me-3"><i class="bi bi-pencil text-primary"></i> {% translate "Change" %}</small>
                    </a>
                </li>
                <li>
                    <a href="{% url "admin:atoum_shopping_delete" object_id=shopping_object.id %}"
                        class="dropdown-item">
                        <small class="me-3"><i class="bi bi-trash3 text-danger"></i> {% translate "Delete" %}</small>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
{% endblock page-submenu %}

{% block app_content %}{% spaceless %}
    <div class="shopping-detail mt-3">
        <h2 class="h4 mb-4">
            {% if shopping_object.done %}
                <i class="bi bi-cart-check"></i> {% translate "Done" %}
            {% else %}
                <i class="bi bi-cart3"></i> {% translate "Open" %}
            {% endif %}
        </h2>

        <p><a href="" class="btn btn-primary">Enter in shopping</a></p>

        <div class="shopping-items list-group">
            {% for item in shopping_object.get_items %}
                <label class="item list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value=""{% if item.done %} checked=""{% endif %}>
                    <span>
                        <span class="title">{{ item.product.title }}: {{ item.quantity }}</span>
                        <small class="d-block text-body-secondary">{{ item.product.parenting_crumbs_html }}</small>
                    </span>
                </label>
            {% endfor %}
        </div>
    </div>
{% endspaceless %}{% endblock app_content %}
