{% extends "atoum/base.html" %}
{% load i18n smart_image %}
{% block header-title %}{{ shopping_object }} - {{ block.super }}{% endblock header-title %}

{% block title-content %}{% spaceless %}
    <p class="mb-0">
        <small class="text-body-secondary"><i class="bi bi-cart4"></i> {% translate "Shopping lists" %}</small>
    </p>

    <h1>
        {{ shopping_object }}
    </h1>
{% endspaceless %}{% endblock title-content %}

{% block page-submenu %}
<div class="page-submenu">
    {% if request.user.is_staff %}
        <div class="manage-object dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear"></i> {% translate "Manage" %}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url "admin:atoum_shopping_change" object_id=shopping_object.id %}"
                        class="dropdown-item">
                        <small class="me-3"><i class="bi bi-pencil text-primary"></i> {% translate "Change" %}</small>
                    </a>
                </li>
                <li>
                    <a href="{% url "admin:atoum_shopping_delete" object_id=shopping_object.id %}"
                        class="dropdown-item">
                        <small class="me-3"><i class="bi bi-trash3 text-danger"></i> {% translate "Delete" %}</small>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
{% endblock page-submenu %}

{% block app_content %}{% spaceless %}
    <div class="shopping-detail mt-3">
        <div class="head mb-4 d-flex justify-content-between">
            <p class="empty h5 p-2 flex-grow-1">
                {% translate "Planned for" %} {{ shopping_object.planning|date:"l d F Y"|capfirst }}
            </p>

            <p class="h5 p-2">
                {% if shopping_object.done %}
                    <i class="bi bi-cart-check"></i> {% translate "Done" %}
                {% elif current_shoppinglist and current_shoppinglist.id == shopping_object.id %}
                    <i class="bi bi-cart-plus"></i> {% translate "Open" %}
                {% else %}
                    <i class="bi bi-cart2"></i> {% translate "To do" %}
                {% endif %}
            </p>

            {% if not current_shoppinglist or current_shoppinglist.id != shopping_object.id %}
            <p class="controls">
                <a href="{% url "atoum:shopping-list-open-selection" pk=shopping_object.id %}"
                   class="btn btn-outline-primary">
                    <i class="bi bi-plus-circle"></i> {% translate "Add new products" %}
                </a>
            </p>
            {% endif %}
        </div>

        {% with shopping_items=shopping_object.get_items %}
            {% if shopping_items %}
                <div class="shopping-items list-group">
                    {% for item in shopping_items %}
                        <label class="item list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" value=""{% if item.done %} checked=""{% endif %}>
                            <span class="quantity">{{ item.quantity }}</span>
                            <span>
                                <span class="title">{{ item.product.title }}</span>
                                <small class="d-block text-body-secondary">{{ item.product.parenting_crumbs_html }}</small>
                            </span>
                        </label>
                    {% endfor %}
                </div>
            {% else %}
                <p class="empty p-3 h4 fst-italic text-center">{% translate "No products yet." %}</p>
            {% endif %}
        {% endwith %}
    </div>
{% endspaceless %}{% endblock app_content %}
