{% extends "atoum/base.html" %}
{% load atoum i18n smart_image %}
{% block header-title %}{{ shopping_object }} - {{ block.super }}{% endblock header-title %}

{% block title-content %}{% spaceless %}
    <p class="mb-0">
        <small class="text-body-secondary"><i class="bi bi-cart4"></i> {% translate "Shopping list" %}&nbsp;:</small>
    </p>

    <h1>{{ shopping_object }}</h1>
{% endspaceless %}{% endblock title-content %}

{% block page-submenu %}
<div class="page-submenu">
    {% if request.user.is_staff %}
        <div class="manage-object dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear"></i> {% translate "Manage" %}
            </button>

            <ul class="dropdown-menu">
                <li>
                    <a href="{% url "admin:atoum_shopping_change" object_id=shopping_object.id %}"
                        class="dropdown-item">
                        <small class="me-3"><i class="bi bi-pencil text-primary"></i> {% translate "Change" %}</small>
                    </a>
                </li>
                <li>
                    <a href="{% url "admin:atoum_shopping_delete" object_id=shopping_object.id %}"
                        class="dropdown-item">
                        <small class="me-3"><i class="bi bi-trash3 text-danger"></i> {% translate "Delete" %}</small>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
{% endblock page-submenu %}

{% block app_content %}{% spaceless %}
    <div class="shopping-detail mt-3">
        <div class="head mb-4 d-flex justify-content-between">
            <div class="flex-grow-1 p-2">
                <p class="h5">{% translate "Planned for" %} {{ shopping_object.planning|date:"l d F Y"|capfirst }}

                <p class="pt-1">
                    <small><span id="shopping-detail-{{ shopping_object.id }}-status">
                    {% include "atoum/shopping/partials/list_status.html" with shopping_inventory=shopping_inventory shopping_object=shopping_object only %}
                    </span></small>
                </p>
            </div>

            {% if not shopping_inventory or shopping_inventory.id != shopping_object.id %}
            <p class="controls">
                <a href="{% url "atoum:shopping-list-open-selection" pk=shopping_object.id %}"
                   class="btn btn-outline-primary">
                    <i class="bi bi-plus-lg"></i> {% translate "Add new products" %}
                </a>
            </p>
            {% endif %}
        </div>

        {% with shopping_items=shopping_object.get_items %}
            {% if shopping_items %}
                <div class="shopping-items list-group">
                    {% for item in shopping_items %}
                        <span id="shopping-detail-{{ shopping_object.id }}-item-{{ item.id }}"
                               class="item to-bump list-group-item d-flex gap-2 justify-content-between">
                            <input class="form-check-input flex-shrink-0"
                                   name="done"
                                   type="checkbox"
                                   value=""
                                   autocomplete="off"
                                   hx-target="#shopping-detail-{{ shopping_object.id }}-status"
                                   hx-vals='js:{done:event.target.checked}'
                                   hx-patch="{% url "atoum:shopping-list-product" pk=shopping_object.id product_id=item.product.id %}"
                                   {% if item.done %} checked{% endif %}>

                            <span class="flex-fill">
                                <span class="title">{{ item.product.title }}</span>
                                <small class="d-block text-body-secondary">{{ item.product.parenting_crumbs_html }}</small>
                            </span>

                            <div class="controls mb-3" style="flex: 1 0 160px; max-width: 160px">
                                {% product_shopping_controls item.product shopping=shopping_object %}
                            </div>
                        </span>
                    {% endfor %}
                </div>
            {% else %}
                <p class="empty p-3 h4 fst-italic text-center">{% translate "No products yet." %}</p>
            {% endif %}
        {% endwith %}
    </div>
{% endspaceless %}{% endblock app_content %}

{% block body-javascript-extra %}
<script>
// On content load from a request, apply css class to parent for highlight bump
document.body.addEventListener("htmx:afterOnLoad", function(evt) {
    let row = htmx.closest(evt.target, "span");
    if(row) {
        htmx.addClass(row, "bump");
        // Use a delay so the animation has the time to finish
        htmx.removeClass(row, "bump", 1200);
    }
});
</script>
{% endblock body-javascript-extra %}
