{% extends "atoum/base.html" %}
{% load i18n %}
{% block header-title %}{% translate "Shopping list" %} - {{ block.super }}{% endblock header-title %}

{% block title-content %}{% spaceless %}
    <h1>
        <i class="bi bi-cart4"></i>
        {% translate "Shopping lists" %}
    </h1>
{% endspaceless %}{% endblock title-content %}

{% block page-submenu %}
    <div class="page-submenu">
        {% if request.user.is_staff %}
            <div class="manage-object dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-gear"></i> {% translate "Manage" %}
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url "admin:atoum_shopping_add" %}"
                            class="dropdown-item">
                            <small class="me-3"><i class="bi bi-plus-lg text-success"></i> {% translate "Add a new Shopping list" %}</small>
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock page-submenu %}

{% block app_content %}{% spaceless %}
    <div class="shoppinglist-index mt-3">
        <div class="shoppinglists row">
            {% for shopping in object_list %}
            <div class="item col-12 col-md-6 col-lg-4 pb-4">
                <div class="card{% if shopping.done %} opacity-75{% else %} border-primary{% endif %}">
                    <div class="card-body">
                        <h2 class="card-title h4">
                            <small class="sm-3 lh-1">
                                {% include "atoum/shopping/partials/list_status.html" with shopping_inventory=shopping_inventory.obj shopping_object=shopping only %}
                            </small><br>
                            <span class="title">{{ shopping }}</span>
                        </h2>
                        <div class="card-text">
                            <p>{% translate "Planned for" %} {{ shopping.planning|date:"l d F Y"|capfirst }}</p>
                            <p class="text-end">
                                <a class="btn{% if shopping.done %} btn-secondary{% else %} btn-primary{% endif %}"
                                   href="{{ shopping.get_absolute_url }}">
                                   {% translate "Show" %}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <div class="empty">
                    <p><em>{% translate "No shopping list yet." %}</em></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endspaceless %}{% endblock app_content %}
