{% load atoum i18n %}{% spaceless %}
    {% if operation == "addition" or operation == "edition" %}
        {% product_shopping_controls product shopping=shopping_object %}

        {% comment %}Append or edit row from possible opened shopping inventory{% endcomment %}
        {% if shopping_inventory and shopping_inventory.obj.id == shopping_object.id %}
            <template>
                {% include "atoum/shopping/partials/opened_list_item.html" with shopping_inventory=shopping_inventory item=shopping_item htmx_swap=True operation=operation only %}
            </template>
        {% endif %}
    {% elif operation == "deletion" %}
        {% product_shopping_controls product shopping=shopping_object %}

        {% comment %}Remove row from possible opened shopping inventory{% endcomment %}
        {% if shopping_inventory and shopping_inventory.obj.id == shopping_object.id %}
            <template>
                <div id="shopping-inventory-{{ shopping_inventory.obj.id }}-item-{{ shopping_item.id }}"
                     hx-swap-oob="delete"></div>
            </template>
        {% endif %}

        {% comment %}Delete row from shopping detail{% endcomment %}
        <template>
            {% if shopping_object %}
                <div id="shopping-detail-{{ shopping_object.id }}-item-{{ shopping_item.id }}"
                     hx-swap-oob="delete"></div>
            {% else %}
                <div id="shopping-detail-{{ shopping_inventory.obj.id }}-item-{{ shopping_item.id }}"
                     hx-swap-oob="delete"></div>
            {% endif %}
        </template>
    {% elif operation == "patch_field_done" %}
        {% comment %}Update status from Shopping detail{% endcomment %}
        {% if shopping_object %}
            {% include "atoum/shopping/partials/list_status.html" with shopping_inventory=shopping_inventory.obj shopping_object=shopping_object only %}
        {% endif %}

        {% comment %}Edit item status from possible opened shopping inventory{% endcomment %}
        {% if shopping_inventory and shopping_inventory.obj.id == shopping_object.id %}
            <template>
                <td id="shopping-inventory-{{ shopping_inventory.obj.id }}-item-{{ shopping_item.id }}-done"
                    hx-swap-oob="true">
                    {% if shopping_item.done %}
                        <i class="bi bi-check-circle-fill state-done"></i>
                    {% else %}
                        <i class="bi bi-circle state-undone"></i>
                    {% endif %}
                </td>
            </template>
        {% endif %}
    {% endif %}
{% endspaceless %}