{% load atoum i18n %}
{% comment %} {% spaceless %} {% endcomment %}
    {% comment %}The product controls to update in product item from a list{% endcomment %}
    {% shopping_product_controls product %}

    {% comment %}The Product item row to add or replace in opened shopping list{% endcomment %}
    {% if operation == "addition" or operation == "edition" %}
        <template>
            {% include "atoum/shopping/partials/opened_list_item.html" with opened_shoppinglist=opened_shoppinglist item=shopping_item htmx_swap=True operation=operation only %}
        </template>
    {% elif operation == "deletion" %}
        <template>
            <div id="shopping-list-{{ opened_shoppinglist.obj.id }}-item-{{ shopping_item.id }}" hx-swap-oob="delete"></div>
        </template>
    {% endif %}
{% comment %} {% endspaceless %} {% endcomment %}