{% load atoum i18n %}{% spaceless %}
    {% comment %}
    TODO: There is conflict with controls and the ID it includes with shopping detail against
    shopping inventory. It leads to detail controls for non inventory to wrongly update an
    inventory for a different shopping.
    {% endcomment %}
    {% if operation == "addition" or operation == "edition" %}
        {% shopping_product_controls product %}

        {% comment %}Append or edit row from possible opened shopping inventory{% endcomment %}
        {% if shoppinglist_inventory and shoppinglist_inventory.obj.id == shopping_object.id %}
            <template>
                {% include "atoum/shopping/partials/opened_list_item.html" with shoppinglist_inventory=shoppinglist_inventory item=shopping_item htmx_swap=True operation=operation only %}
            </template>
        {% endif %}
    {% elif operation == "deletion" %}
        {% shopping_product_controls product %}

        {% comment %}Remove row from possible opened shopping inventory{% endcomment %}
        {% if shoppinglist_inventory and shoppinglist_inventory.obj.id == shopping_object.id %}
            <template>
                <div id="shopping-inventory-{{ shoppinglist_inventory.obj.id }}-item-{{ shopping_item.id }}" hx-swap-oob="delete"></div>
            </template>
        {% endif %}

        {% comment %}Delete row from shopping detail{% endcomment %}
        <template>
            <div id="shopping-detail-{{ shoppinglist_inventory.obj.id }}-item-{{ shopping_item.id }}" hx-swap-oob="delete"></div>
        </template>
    {% elif operation == "patch_field_done" %}
        {% comment %}Update status from shopping detail{% endcomment %}
        {% include "atoum/shopping/partials/list_status.html" with shoppinglist_inventory=shoppinglist_inventory.obj shopping_object=shopping_object only %}

        {% comment %}Edit item status from possible opened shopping inventory{% endcomment %}
        {% if shoppinglist_inventory and shoppinglist_inventory.obj.id == shopping_object.id %}
            <template>
                <td id="shopping-inventory-{{ shoppinglist_inventory.obj.id }}-item-{{ shopping_item.id }}-done" hx-swap-oob="true">
                    {% if shopping_item.done %}
                        <i class="bi bi-check-circle-fill state-done"></i>
                    {% else %}
                        <i class="bi bi-circle state-undone"></i>
                    {% endif %}
                </td>
            </template>
        {% endif %}
    {% endif %}
{% endspaceless %}