{% load i18n %}{% spaceless %}
    {% comment %}
    Product item row exists in this partial template so it can be
    shared from both shopping list render and the shopping management view with
    htmx.

    It does not include HTML for "deletion" and "patch_field_done" operations since it
    is simple enough to be on its own apart in management template.
    {% endcomment %}
    {% if operation == "addition" %}
        <tbody hx-swap-oob="afterbegin:#shopping-inventory-{{ shopping_inventory.obj.id }}-rows">
    {% endif %}

        <tr id="shopping-inventory-{{ shopping_inventory.obj.id }}-item-{{ item.id }}"
            {% if operation == "edition" %} hx-swap-oob="true"{% endif %}
            {% if operation == "addition" or operation == "edition" %} class="bump"{% endif %}>
            <td class="quantity">{{ item.quantity }}</td>
            <td class="title">{{ item.product.title }}</td>
            <td class="done"
                id="shopping-inventory-{{ shopping_inventory.obj.id }}-item-{{ item.id }}-done">
                {% if item.done %}
                    <i class="bi bi-check-circle-fill"></i>
                {% else %}
                    <i class="bi bi-circle"></i>
                {% endif %}
            </td>
        </tr>

    {% if operation == "addition" %}
        </tbody>
    {% endif %}
{% endspaceless %}