{% load i18n %}{% spaceless %}
    <tr id="shopping-list-{{ opened_shoppinglist.obj.id }}-item-{{ item.id }}"{% if htmx_swap %} hx-swap-oob="true"{% endif %}>
        <td class="quantity">
            {{ item.quantity }}
            {% comment %}<input type="number" id="id_shopping-item-{{ item.id }}_quantity"
                    name="shopping-item-{{ item.id }}_quantity"
                    value="">{% endcomment %}
        </td>
        <td class="title">{{ item.product.title }}</td>
        <td class="done">
            {% if item.done %}
                <i class="bi bi-check-circle-fill"></i>
            {% else %}
                <i class="bi bi-circle"></i>
            {% endif %}
        </td>
    </tr>
{% endspaceless %}