{% load i18n %}{% spaceless %}
    {% if shopping_inventory %}
        <div id="aside-shopping">
            <div class="head">
                <h3 class="title h6">
                    {% if shopping_inventory.done %}
                        <i class="bi bi-cart-check"></i>
                    {% else %}
                        <i class="bi bi-cart3"></i>
                    {% endif %}
                    {{ shopping_inventory }}
                </h3>

                <div class="controls btn-group" role="group" aria-label="Current shopping list controls">
                    <a href="{{ shopping_inventory.get_absolute_url }}"
                       class="btn cta-manage btn-outline-primary"
                       title="{% trans "Manage" %}"
                       aria-label="{% trans "Manage" %}">
                        <span>{% translate "Manage" %}</span>
                    </a>

                    <a href="{% url "atoum:shopping-list-close-selection" %}?next={{ request.path }}"
                       class="btn cta-disable btn-outline-primary"
                       title="{% trans "Disable" %}"
                       aria-label="{% trans "Disable" %}">
                        <span>{% translate "Disable" %}</span>
                    </a>

                    <button class="class-toggler toggler-enable btn btn-outline-primary"
                            type="button"
                            data-target="body"
                            data-target-css="shopping-inventory-opened"
                            aria-label="{% trans "Toggle shopping inventory" %}"
                            aria-expanded="false"></button>
                </div>
            </div>

            {% if shopping_inventory.current_items %}
                <table class="inventory table table-hover table-bordered" id="shopping-inventory-{{ shopping_inventory.id }}">
                    <thead>
                        <tr>
                            <th>{% translate "Quantity" %}</th>
                            <th>{% translate "Product" %}</th>
                            <th>{% translate "Done" %}</th>
                        </tr>
                    </thead>
                    <tbody id="shopping-inventory-{{ shopping_inventory.id }}-rows">
                        {% for item in shopping_inventory.current_items %}
                            {% include "atoum/shopping/partials/opened_list_item.html" with shopping_inventory=shopping_inventory item=item only %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="inventory empty">{% translate "No products yet." %}</p>
            {% endif %}
        </div>
    {% endif %}
{% endspaceless %}