///
/// Page contents
///

// Animation to highlight an element background in yellow to transparent
@keyframes highlight-product-row {
    from {
        background-color: rgba($yellow, 0.3);
    }

    to {
        background-color: transparent;
    }
}

// TODO: This was a "quick done to work" that need to be moved to a component/object
// Currently used in shopping detail, we may merge it with the 'table.tr.bump'
.to-bump {
    &.bump {
        animation-duration: 1s;
        animation-name: highlight-product-row;
    }
}

.page-content {
    background-color: var(--site-content-bg);
}

.main-content {
    padding: space("normal");
}
