///
/// Page context container
///

.page-context {
    padding: space("shorter") space("large");
    color: var(--site-context-color);
    background-color: var(--site-context-bg);
    border-bottom: var(--site-context-subtle) solid $onepixel;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
