///
/// Page main menu container
///

@mixin menu-item-base() {
    width: 100%;
    padding: $btn-padding-y-lg $btn-padding-x-lg;
    text-align: left;
    text-decoration: none;
    line-height: 1.1;
    background-color: transparent;
    border: 0;
}

.page-menu {
    --bs-emphasis-color-rgb: var(--site-menu-emphasis);

    color: var(--site-menu-color);
    background-color: var(--site-menu-bg);
    border-right: $onepixel solid var(--site-menu-subtle);

    .page-brand {
        @include font-size(2rem);
        color: var(--site-menu-emphasis);
        display: flex;
        height: $layout-context-height;
        padding: space("shorter") var(--site-menu-padding-x);
        justify-content: flex-start;
        align-items: center;
        font-weight: $font-weight-bold;
        text-decoration: none;
        border-bottom: $onepixel solid var(--site-menu-subtle);
        text-transform: uppercase;

        img {
            width: rem-calc(40px);
            margin-right: space("shorter");
        }
    }

    .menu-apps {
        margin: 0;
        padding: space("normal") var(--site-menu-padding-x);
        list-style: none;

        // All links adopts the same base rules
        a {
            @include menu-item-base();
            display: block;
            color: inherit;

            .bi,
            .icon {
                margin-right: space("tiny");
                color: var(--site-menu-subtle);
            }

            &:hover {
                color: var(--site-menu-emphasis);
                background-color: var(--site-menu-hover-bg);
                border-radius: $btn-border-radius-lg;

                .bi,
                .icon {
                    color: inherit;
                }
            }
        }

        // Reset all lists
        ul {
            margin: 0;
            padding-left: 0;
            list-style: none;
        }

        // Menu section allow for a title or collapse toggler button
        .section {
            margin-top: space("normal");

            & + *:not(.section) {
                margin-top: space("normal");
            }

            // First possible section paragraph is assumed as a title
            .title {
                @include menu-item-base();
                @include font-size($small2-font-size);
                margin: 0;
                font-weight: $font-weight-semibold;
                text-transform: uppercase;
                color: var(--site-menu-subtle);
            }

            button {
                @include menu-item-base();
                position: relative;
                padding-right: 1rem;
                color: inherit;

                &[data-bs-toggle] {
                    &::after {
                        @include bb-icon(map-get($bootstrap-icons-map, "dash-lg"));
                        position: absolute;
                        right: 0;
                    }

                    &.collapsed {
                        &::after {
                            content: map-get($bootstrap-icons-map, "plus-lg");
                        }
                    }
                }
            }

            li li {
                position: relative;
                padding-left: space("normal");

                &::after {
                    position: absolute;
                    top: space("shorter");
                    left: space("normal");
                    @include bb-icon(map-get($bootstrap-icons-map, "dot"));
                }
            }

            li button {
                &:hover {
                    color: var(--site-menu-emphasis);
                    background-color: var(--site-menu-hover-bg);
                    border-radius: $btn-border-radius-lg;

                    .bi,
                    .icon {
                        color: inherit;
                    }
                }

                &[data-bs-toggle] {
                    &::after {
                        right: 0.2rem;
                        @include bb-icon(map-get($bootstrap-icons-map, "chevron-up"));
                    }

                    &.collapsed {
                        &::after {
                            content: map-get($bootstrap-icons-map, "chevron-down");
                        }
                    }
                }
            }
        }
    }
}
