///
/// Search document and component
///

.search-results {
    .empty {
        @include font-size($h3-font-size);
        padding: space("large") space("normal");
        font-style: italic;
        text-align: center;
    }

    .form-check-label {
        @include font-size($small1-font-size);
    }
}

// Search document alter the base layout for mobile behaviors
#document-search {
    @include media-breakpoint-down($layout-breakpoint) {
        .layout-base {
            grid-template-rows: $layout-head-height auto;
            grid-template-areas:
                "brand"
                "main";
        }
        .page-context {
            display: none;
        }
        .breadcrumb-container {
            display: none;
        }
    }
}
