{% extends "skeleton.html" %}
{% load atoum i18n %}

{% block body-classes %}{% if shopping_inventory %} shopping-inventory-enabled{% endif %}{% endblock body-classes %}

{% block content-classes %}{% if shopping_inventory %} splitted{% endif %}{% endblock content-classes %}

{% block content %}
    {% block app_content %}{% endblock app_content %}
{% endblock content %}

{% block body-attrs %} hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'{% endblock body-attrs %}

{% block content-sidebar %}{% spaceless %}
    {% if shopping_inventory %}
        <div class="aside-content">
            {% shopping_list_html %}
        </div>
    {% endif %}
{% endspaceless %}{% endblock content-sidebar %}
