{% extends "atoum/base.html" %}
{% load i18n %}
{% block header-title %}{% translate "Dashboard" %} - {{ block.super }}{% endblock header-title %}

{% block title-content %}{% spaceless %}
    <h1>{% translate "Dashboard" %}</h1>
{% endspaceless %}{% endblock title-content %}

{% block app_content %}{% spaceless %}
    <div class="dashboard">
        <div class="consumable-list">
            <h3>{% translate "Consumables" %}</h3>
            <ul>
                {% for consumable in consumables %}
                    <li>
                        <a href="{{ consumable.get_absolute_url }}">{{ consumable.title }}</a>
                    </li>
                {% empty %}
                    <li>{% translate "No consumables yet." %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endspaceless %}{% endblock app_content %}
