///
/// Site colors settings
///

///
// Color variables
// NOTE: This is the only place where Hex colors are allowed
///
/* stylelint-disable color-no-hex */
$darkest: #1b1f22;
$white-cloud: #dee2e6;
/* stylelint-enable color-no-hex */

///
// Colors map
///
$site-colors: (
    "darkest": $darkest,
    "white-cloud": $white-cloud,
    "consumable": #5856d6,
    "assortment": $blue,
    "category": $success,
    "product": $light,
);

///
// Theme colors to merge in Bootstrap theme colors
///
$theme-colors: map-merge($theme-colors, $site-colors);
